@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    font-family: 'IM Fell English SC', serif;
    background-color: black;
}
.tooltip {
    max-width: 60vw;
}